# Project exclude paths
/.gradle/
/Simple Chatty Bot (Java)/task/build/
/Simple Chatty Bot (Java)/task/out/
/Simple Chatty Bot (Java)/task/out/production/classes/
/Topics/Increment and decrement/Decrement all/out/
/Topics/Increment and decrement/Decrement all/out/production/classes/
/Topics/Integer types and operations/Desks/out/
/Topics/Integer types and operations/Desks/out/production/classes/
/Topics/Integer types and operations/The sum of digits/out/
/Topics/Integer types and operations/The sum of digits/out/production/classes/
/Topics/Relational operators/Check the value/out/
/Topics/Relational operators/Check the value/out/production/classes/
/Topics/Relational operators/Groundhogs at a party/out/
/Topics/Relational operators/Groundhogs at a party/out/production/classes/
/Topics/Relational operators/Is between/out/
/Topics/Relational operators/Is between/out/production/classes/
/Topics/Scanning the input/Hiring a chef/out/
/Topics/Scanning the input/Hiring a chef/out/production/classes/
/Topics/String/Extracting a substring/out/
/Topics/String/Extracting a substring/out/production/classes/
/Topics/String/Replacing 'a' with 'b'/out/
/Topics/String/Replacing 'a' with 'b'/out/production/classes/
/Topics/The for-loop/Size of parts/out/
/Topics/The for-loop/Size of parts/out/production/classes/
/Topics/The for-loop/The product of numbers from a to b/out/
/Topics/The for-loop/The product of numbers from a to b/out/production/classes/
/Topics/The for-loop/The sum of integers from a to b/out/
/Topics/The for-loop/The sum of integers from a to b/out/production/classes/